.message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    min-height: 20px;
}

.sent-message {
    border-bottom-right-radius: 0px;
    background-color: #31b153;
    align-self: flex-end;
}

.received-message {
    border-bottom-left-radius: 0px;
    background-color: #737373;
    align-self: flex-start;
}

.chat-ui {
    max-height: 700px;
}

.chats {
    background-color: #dcdcdc;
    align-self: center;
    max-width: 450px;
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}